# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# IDE files
.idea/
rest-api/development/*
rest-api/build/*

# See https://help.github.com/articles/ignoring-files/ for t more about ignoring files.

# dependencies
fronted/spotify-radio/client/node_modules/*
fronted/spotify-radio/server/node_modules/*
fronted/spotify-radio/.pnp
.pnp.js

# testing
fronted/spotify-radio/coverage

# production
fronted/spotify-radio/build

# misc
.DS_Store

fronted/spotify-radio/npm-debug.log*
fronted/spotify-radio/yarn-debug.log*
fronted/spotify-radio/yarn-error.log*
